.post-list .post-item {
  padding: 2rem;
}
.post-list .post-title {
  font-size: 1.8rem;
}
.body-dark {
  background: #0d1117;
} /* deeper black */
body {
  font-family: 'Inter', system-ui, sans-serif;
}
